<!-- your html code here -->
<div style="background-color:white">
    <div class="container py-4">
        <div  class="d-flex justify-content-start ">
            <div>
                <span class="fw-bold fs-1">MISTER WALTER SENIOR</span> <span class="text-secondary fw-bold fs-1"> SEO DE ALQUILA TU COCHE</span>
                <p>Walter, es una gran persona con un pasado alejado de los coches, era un gran cocinero con la mejor receta, pero conoció la industria automovilística y le apasionó. Y le dió vida a este gran poyecto donde puedes adquirir mas que un coche una gran experiencia.</p>
            </div>
            <img class="rounded-circle ms-3" 
            src="https://img.freepik.com/fotos-premium/walter-white-personaje-dibujos-animados-breaking-bad-ia-generativa_934475-8776.jpg" alt="Imagen" width="250" height="250">
        </div>
    </div>    
</div>
