<!-- your html code here -->
<div style="background-color:white">
    <div class="container py-4">
        <div  class="d-flex justify-content-start">
            <img class="rounded-circle ms-3" src="https://s3-us-west-2.amazonaws.com/bfxpublicos/salesupblog/100001542971.png" alt="Imagen" width="250" height="250">
            <div>
                <h1>ROBERTO, JOSÉ Y ALCIDES <span class="text-muted">EQUIPO DE VENTAS</span></h1>
                <p>Este personal es de lo mejor que encontrarás en la industria, y más que vendedores son tu compañía a tu mejor experiencia sobre cuatros ruedas, te darán la mejor asesoria según sus experiencias adquiridas con otros clientes, además de la gran confianza en que son expertos en la materia</p>
            </div>
        </div>    
    </div>
</div>    